.container2{
    border: 1px solid white;
    width: 709px;
    height: 482px;
    position: relative;
    left: 299px;
    top: -20px;
}
.box {
    border: 1px solid tomato;
    width: 191px;
    height: 265px;
    position: absolute;
    left: 23px;
    top: -45px;
    border-radius: 10px;
    box-shadow: 8px 6px 15px grey;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 23px;
    padding-top: 31px;
    filter: blur(10px);
}
.b1{
    text-align: center;
    color: tomato;
    position: absolute;
}
.b2{
    text-align: center;
    color: tomato;
    position: absolute;
    left: 265px;
}
.b3{
    text-align: center;
    color: tomato;
    position: absolute;
    left: 515px;

}
.container{
    position: relative;
    top: -180px;
    filter: blur(10px);
}
.head1 {
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    top: 290px;
    left: 323px;
    font-size: 32px;
}
.head2 {
    position: relative;
    left: 522px;
    top: 174px;
    font-size: 63px;
    font-family: Arial, Helvetica, sans-serif;
    font-stretch: ultra-condensed;
    color: darkgrey;
}
.pending {
    position: relative;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    top: 41px;
    left: -3px;
}

.p1 {
    position: relative;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    top: 39px;
    left: -3px;
    font-size: 19px;
}
.p2{
    position: relative;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    top: 39px;
    left: -3px;
    font-size: 19px;
}
.square {
    position: relative;
    top: 41px;
    left: -25x;
}
.container{
    position: relative;
    top: -194px;
}
.head3 {
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
    color: grey;
    position: relative;
    top: 128px;
    bottom: 105px;
    font-size: 37px;
    left: 852px;
}
.pl {
    position: relative;
    top: 92px;
    left: 816px;
}
.one{
    text-decoration: line-through;
}
.new{
    border-radius: 14px;
    border: 1px solid orangered;
    position: relative;
    height: 163px;
    width: 388px;
    z-index: 5px;
    top: -550px;
    left: 474px;
    box-shadow: 6px 4px 11px grey;
}
.add1 {
        color: orangered;
        top: -1px;
        position: absolute;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 17px;
        left: 107px;
    }
.text{
    border-radius: 7px;
    position: absolute;
    border: 1px solid orangered;
    height: 33px;
    width: 250px;
    top: 63px;
    left: 70px;
    text-decoration: none;
}
.butn {
    position: relative;
    top: 115px;
    left: 267px;
    left: 158px;
    border-radius: 25px;
    background-color: orangered;
    color: white;
    width: 69px;
    height: 32px;
    font-size: 17px;
}